@font-face {
  font-family: "sample";
  src: url(../assets/fonts/traffic.ttf);
  font-weight: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;
  font-family: "sample";
}

a:hover {
  text-decoration: none;
}

/* Utilities */
.bg-black {
  background-color: #000000;
}

.bg-yellow {
  background-color: #ead629;
}

.text-black {
  color: #000000;
}

.cursor-pointer {
  cursor: pointer;
}

.drop-shadow {
  filter: drop-shadow(2px 4px 5px #000000);
  transition: all 0.3s;
}

.drop-white-shadow:hover {
  filter: drop-shadow(2px 4px 5px #ffffff);
  transition: all 0.1s;
}

.font-lato {
  font-family: "Lato", sans-serif;
}
